In [6]:
import pandas as pd

In [7]:
RankingEquipos = pd.read_csv("Soccer_Football Clubs Ranking.csv")
RankingEquipos

,ranking,club name,country,point score,1 year change,previous point scored,symbol change
0,88,1. FC Köln,Germany,1633,105,1545,+
1,74,1. FC Union Berlin,Germany,1655,5,1654,+
2,780,12 de Octubre de Itaugua,Paraguay,1377,70,1388,-
3,268,1º de Agosto,Angola,1513,13,1516,-
4,2525,1º de Maio,Angola,1218,22,1218,-
...,...,...,...,...,...,...,...
2807,316,Zrinjski Mostar,Bosnia and Herzegovina,1488,127,1449,+
2808,1387,Zulia,Venezuela,1304,123,1318,-
2809,1187,Zulte Waregem,Belgium,1326,423,1377,-
2810,2389,Zumunta,Niger,1231,30,1231,-
2811,325,Zürich,Switzerland,1484,424,1381,+

In [8]:

#Comprobamos las dimensiones:
RankingEquipos.shape

(2812, 7)

In [9]:

#Eliminamos los duplicados:
RankingEquipos = RankingEquipos.drop_duplicates()
#Comprobamos las dimensiones:
RankingEquipos.shape

(2762, 7)

In [11]:
RankingEquipos.isnull().sum()

ranking                  0
club name                0
country                  0
point score              0
1 year change            0
previous point scored    0
symbol change            0
dtype: int64

In [13]:
#los valores nulos de columnas numericas los remplazamos por la media
for columna in RankingEquipos.select_dtypes(include=['float64', 'int64']).columns:
        RankingEquipos[columna].fillna(RankingEquipos[columna].mean(), inplace=True)

C:\Users\Alejo\AppData\Local\Temp\ipykernel_9272\2613420111.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  RankingEquipos[columna].fillna(RankingEquipos[columna].mean(), inplace=True)
C:\Users\Alejo\AppData\Local\Temp\ipykernel_9272\2613420111.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  RankingEquipos[columna].fillna(RankingEquipos[columna].mean(), inplace=True)

In [14]:
RankingEquipos.isnull().sum()

ranking                  0
club name                0
country                  0
point score              0
1 year change            0
previous point scored    0
symbol change            0
dtype: int64

In [12]:
# Mostrar información general del DataFrame
print(RankingEquipos.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2762 entries, 0 to 2811
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ranking                2762 non-null   int64
 1   club name              2762 non-null   object
 2   country                2762 non-null   object
 3   point score            2762 non-null   int64
 4   1 year change          2762 non-null   int64
 5   previous point scored  2762 non-null   int64
 6   symbol change          2762 non-null   object
dtypes: int64(4), object(3)
memory usage: 172.6+ KB
None

In [15]:

# Mostrar las primeras filas del DataFrame
print(RankingEquipos.head())

   ranking                club name    country  point score  1 year change  \
0       88                1. FC Köln   Germany         1633            105
1       74        1. FC Union Berlin   Germany         1655              5
2      780  12 de Octubre de Itaugua  Paraguay         1377             70
3      268              1º de Agosto    Angola         1513             13
4     2525                1º de Maio    Angola         1218             22

   previous point scored symbol change
0                   1545             +
1                   1654             +
2                   1388             -
3                   1516             -
4                   1218             -

In [18]:


# Calcular el máximo y mínimo de la columna "Points"
max_puntos = RankingEquipos['ranking'].max()
min_puntos = RankingEquipos['ranking'].min()
print("\nMáximo del Ranking:", max_puntos)
print("Mínimo de Ranking:", min_puntos)
# Calcular el promedio de la columna "Points"
promedio_puntos = RankingEquipos['Ranking'].mean()
print("Promedio de puntos:", promedio_puntos)

KeyError: 'Ranking'

In [ ]:

    # Traducir la columna especificada si se proporciona la información necesaria
    if columna_a_traducir and idioma_origen and idioma_destino:
        translator = Translator()
        df[columna_a_traducir] = df[columna_a_traducir].apply(lambda x: translator.translate(x, src=idioma_origen, dest=idioma_destino).text)